# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan.binary
**/.terraform.lock.hcl
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive vars (never commit these)
terraform.tfvars
*.tfvars

# SSH keys
*.pem
*.key

# Environment files
.env

# OS
.DS_Store
*.deb
